fastapi
uvicorn[standard]
sqlalchemy
asyncpg
psycopg2-binary
pydantic
python-dotenv
alembic
httpx
pytest
gunicorn
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
cloudinary
python-multipart
pydantic[email]